.home{
    margin: 0 auto;
    width: 80%;
}
.feature{
    margin-top: 2rem;
    height: 26rem;
    color: rgb(250, 241, 241);
}

.feature-title{
   
     font-size: 2.5rem;;
     color: #FFFFFF;
    padding-top: 10px;
     margin-left: 30px;
     font-weight: bolder;
     text-shadow: 4px 4px black;
}
.date1{
  margin-left: 30px;
  font-weight: bolder;
     text-shadow: 2px 2px black;
}

.category-date{
  padding-left: 5px;
}

.date2{
  font-size: 14px;
}

.feature-left{
    width: 62%;
    margin-right: auto;
    box-shadow: 0px 5px 10px #0000001a;
    border-radius: 7px;
    position: relative;
    cursor: pointer;
    /* filter: brightness(90%); */

}
.feature-right{
    width: 37%;
    flex-direction: column;
    gap: 0.6rem;
    position: relative;

}

.feature-right > div{
    box-shadow: 0px 5px 10px #0000001a;
    border-radius: 7px;
    background-size: cover;
    height: 100%;
    cursor: pointer;
    position: relative;
}
@media (max-width: 768px) {
  .feature-right{
    display: none;
  }
}

/* responsive */
 
@media (max-width: 767px) {
  .feature {
    height: fit-content;
  }
  .feature-left {
    width: 100%;
    height: 15rem;
  }
  .feature-right {
    display: none;
  }
  .latest-cards {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .advertisement {
    display: none;
  }
  .latest-bollywood-container {
    flex-direction: column;
  }
  .vertical-gallery {
    display: none;
  }
  .post-number {
    display: none;
  }
  .top-posts {
    margin-left: 0;
  }
  .vertical-hr {
    display: none;
  }
  .latest-hollywood-card {
    margin: 0;
  }
 
  .latest-card {
    padding: 10px 0;
  }
  .latest-card img {
    width: 8rem;
  }
  .info p {
    margin: 0;
    margin-top: 6px;
  }
  .latest-card-info .category-date {
    bottom: 7px;
    /* margin-top: 1rem; */
  }

  .categorized-blogs {
    width: 90%;
    margin: 0 auto;
  }
  .categorized-blogs .latest-bollywood-card img {
    width: 8rem;
  }
  .categorized-blogs-h2,
  .categorized-blogs-hr {
    margin: 0;
    margin-bottom: 1rem;
  }

  .clap-share {
    display: none;
  }
  .more-articles-cards {
    flex-direction: column;
  }
  .more-articles-cards .author img {
    display: none;
  }
  .related-reads {
    display: none;
  }
  .blog-header {
    flex-direction: column-reverse;
    margin-top: 0rem;
  }
  .blog-header > div {
    justify-content: left;
  }
  .social {
    margin-bottom: 1rem;
  }
  .more-articles-section {
    height: fit-content;
  }
  .more-articles-card {
    height: unset;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2rem;
  }
  .more-articles-card img {
    height: 6rem;
  }
  .more-articles-card .author span {
    display: none;
  }
  .author {
    width: 100%;
  }
  .title {
    display: none;
  }
  .blog-info .title-mobile {
    margin-right: 1rem;
    font-size: 1.4rem;
    display: unset;
  }
  .blog-info .author-name {
    font-size: 1rem;
    color: #939393;
    margin-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .latest-blogs-cards {
    justify-content: center;
  }
}

/* latest.js css */


#latest{
    margin: 10px;
}

.hr{
    background-color: #F08080;
    width: 50px;
    height: 3px;
    margin-bottom: 10px;
    opacity: 1;
}

h2{
    text-align: left;
}
h2{
    margin-top: 30px;
    margin-bottom: 0px;
}

.latest-cards{
    margin-top: 40px;
    max-width: 100%;
    gap: 1rem;
    flex-direction: row-reverse;
}

.latest-card{
    cursor: pointer;
    background-color: #fcfcfc;
    text-align: left;
    margin-bottom: 10px; 
}

.latest-cards img {
    height: 220px;
    width: 100%;
    border-radius: 7px;
}

.date{
    font-size: 15px;
}

.date span{
    color: rgb(141, 139, 139);
    margin-left: 0.4rem;
    font-size: 14px;
    font-weight: 400;
}







/* ad   */

.advertisement {
    height: 34rem;
    width: 20rem;
    margin-left: auto;
    display: flex;
    border: 1px solid black;
  }
  .advertisement p {
    margin: auto;
    font-size: 2rem;
    font-weight: 500;
  }






.top-posts {
    margin-top: 4.8rem;
    text-align: left;
  }
  .top-posts hr {
    margin: 0.5rem 0;
  }
  .top-posts-card {
    justify-content: left;
    cursor: pointer;
  }
  
  .top-posts-card img {
    margin-right: 0.5rem;
    height: 5rem;
    width: 5rem;
  }
  .first-top-post {
    margin-top: 1rem;
  }
  .first-top-post img {
    width: 100%;
    height: 14rem;
    margin-bottom: 0.5rem;
  }
  
  .post-number {
    margin-left: auto;
    font-size: 3rem;
    font-family: sans-serif;
    color: #f0f0f0;
  }
  .top-posts-card-info {
    display: flex;
    flex-direction: column;
  }
  .top-posts-card-info h3 {
    margin-bottom: 1rem;
    font-weight: 600;
    width: 95%;
  }
  
  .top-posts-card .category-date {
    font-weight: 500;
    font-size: 0.8rem;
    width: 11rem;
    margin-top: auto;
  }
  .top-posts-card .category-date span {
    color: silver;
    margin-left: 0.4rem;
    font-size: 0.75rem;
    font-weight: 400;
  }


  /* latest stories */


  .latest-hollywood {
    margin-bottom: 2rem;
  }
  .latest-hollywood hr {
    margin: 2rem 0;
    background: #f0f0f0;
  }
  .latest-hollywood-card {
    max-width: 22.5rem;
    cursor: pointer;
    text-align: left;
    position: relative;
    margin-bottom: 1rem;
    /* border-right: 1px solid grey; */
  }
  .vertical-hr {
    position: absolute;
    height: 14rem;
    width: 1px;
    top: -10px;
    right: 0;
  }
  .latest-hollywood-card h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
  }
  .date {
    position: unset;
  }
  .para {
    color: #757272;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    margin-bottom: 2rem;
    
  }
  .info{
    padding: 15px;
    margin-top: 18px;
  }
  /* .date span{
    color: rgb(141, 139, 139);
    margin-left: 0.4rem;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    margin-bottom: 2rem;
} */




/* categories */

.latest-container {
  margin-top: 2rem;
}

.latest-article-area {
  min-width: 70%;
}

.latest-article-card  {
  height: 11rem;
  max-width: 45rem;
  padding: 1.5rem;
  text-align: left;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
.latest-article-card  p {
  font-size: 0.9rem;
  margin: 1.2rem 0;
}

.latest-article-card  .category-date {
  font-weight: 500;
  font-size: 0.85rem;
  position: absolute;
  bottom: 1.5rem;
}
.latest-article-card  .category-date span {
  color: silver;
}
.latest-article-card img {
  width: 12rem;
  margin-right: 1rem;
}



.img{
  background-image: url("./images/arrow\ 2.jpg");
  width: 20px;
  height: 12px;
}

.rythm{
  background-image: url("./images/rythm.svg");
  width: 40px;
  height: 40px;
}

.share{
  background-image: url("./images/share.svg");
  width: 28px;
  height: 29px;
}

.profilepic{
  background-image: url("./images/Mask\ Group\ 16.png");
  width: 100px;
  height: 100px; 
}


 
.vertical-gallery {
  width: 100%;
  height: 23.3rem;
  margin-top: 6rem;
  margin-bottom: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.vertical-gallery p {
  font-size: 0.9rem;
}

.vertical-hr {
  position: absolute;
  height: 14rem;
  width: 1px;
  top: -10px;
  right: 0;
}